[submodule "entt"]
	path = entt
	url = https://github.com/ExplosionEngine/entt.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/ExplosionEngine/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/ExplosionEngine/glm.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/ExplosionEngine/googletest.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/ExplosionEngine/rapidjson.git
[submodule "taskflow"]
	path = taskflow
	url = https://github.com/ExplosionEngine/taskflow.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/ExplosionEngine/gflags.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/ExplosionEngine/assimp.git
